.m-list-item {
    display: flex;
    align-items: center;
    padding: 10px 0 15px 10px;
    border-bottom: 1px solid #e6e6e6;
    transition: background-color 0.3s;

    &:hover {
        background-color: #f9f9f9;
    }

    &__content {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__segment {
        display: flex;
        align-items: center;
         &--label {
        flex: 1;
    }

    }

   

    &__text {
        font-size: 1rem;
        color: #4d4d4d;

        &--completed {
            color: #d9d9d9;
            text-decoration: line-through;
        }
    }
    &__segment-remove {
        margin-left: 16px;
    }
}