.a-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    color: white;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;

    &--disabled{
        opacity: 0.5;
        cursor: auto;
    }

    &--primary {
        background-color: #1976d2;
    }
    &--secondary {
        background-color: #19d232;
    }

    &__loader {
        width: 16px;
        height: 16px;
        border: 2px solid #f3f3f3;
        border-top: 2px solid #555;
        animation: rotate 1s linear infinite;
        border-radius: 50%;
    }
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}